header{
    width: 800px;
    height: 80px;
    background-color: black;
}

aside{
    width: 170px;
    height: 400px;
    background: url(../images/bg_lt.png);
    float: left;
    }

article{
    width: 628px;
    height: 400px;
    margin-left: 171px;
    background-color: bisque;
}

footer{
    width: 800px;
    height: 50px;
    background-color: black;
}